$bg-color: #EFF2F7;
$bg-color-light: #FFF;
$color: #1f2d3d;
$color-light: #8C939C;

$primary: #20a0ff;
$danger: #FF4949;
$bg-danger-color: #a94442;
$bg-danger: #E6BFBF;

//Breakpoints
$breakpoints: (
    "sm":  576px,
    "md":  768px,
    "lg":  992px,
    "xl":  1200px
);

//Controla o z-index de todos os components
$z-indexes: (
);